<h3 translate="OVERVIEW_TITLE"></h3>

<div>
    <div>
        <span translate="OVERVIEW_FILTER"></span>
        <input kendo-auto-complete
               k-data-source="articles"
               k-filter="'contains'"
               k-min-length="3"
               k-data-text-field="'Name'"
               k-on-change="valueOnChange = kendoEvent.sender.value()"
               ng-model="filteredArticle" />

        <i ng-if="capabilities.has('AddArticle')" class="btn btn-primary icon-plus pull-right" ng-click="addArticle()"></i>
    </div>
    
    <hr />

    <div ng-if="articles" 
        kendo-grid
        k-data-source="articles"
        reset-source-when="!filteredArticle"
        k-columns='[{ "field": "Name", "title": "Name"}, { "field": "Code",  "title": "Code"},
                    { "template": "<i class=\"btn icon-edit\" ng-click=\"getArticleDetails(&apos;#=Id#&apos;)\"></i><i class=\"btn icon-trash\" ng-click=\"deleteArticle(&apos;#=Id#&apos;)\"></i>", width: "15%"}]'
        k-pageable='{ "refresh": true, "pageSizes": false }'
        k-scrollable='{ "virtual": true }'
        k-on-change="getArticleDetails(kendoEvent.sender.dataItem(kendoEvent.sender.select()[0]))">
    </div>
</div>
