<h3 translate="DETAILS_TITLE"></h3>

<form name="form" novalidate class="form-horizontal">
    <div class="control-group" ng-class="{ error: form.name.$invalid }">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" required ng-model="artikel.Name" id="name">
        </div>
    </div>
    
    <div class="control-group" ng-class="{ error: form.code.$invalid }">
        <label class="control-label" for="code">Code</label>
        <div class="controls">
            <input type="text" required ng-model="artikel.Code" id="code">
        </div>
    </div>

    <div>
        <textarea type="text" rows="7" cols="20" ng-model="artikel.Description" />
        <img ng-if="editMode" alt="Product image" class="img" src="app/images/default.png" ng-src="{{ artikel.ImageUrl | baseUrl }}" />
        <span ng-show="!editMode">
            <img ng-show="image" ng-src="{{ image.resized.dataURL }}" type="{{ image.file.type }}" />
            <br />
            <br />
            <input type="file" accept="image/*" image="image" resize-max-width="400" resize-quality="0.9" button-text="{{ 'DETAILS_SELECTIMAGE' | translate }}" />
        </span>
    </div>

    <div class="form-actions">
        <button ng-click="save()" ng-disabled="form.$invalid" class="btn btn-primary" translate="COMMON_SAVE"></button>
        <a href="#/articles" class="btn" translate="COMMON_CANCEL"></a>
    </div>
</form>
