<div class="modal-header">
    <h3 class="dialog-underline">{{ dialogOptions.headerText }}</h3>
    <br/>
</div>
<div class="modal-body">
    <p>{{ dialogOptions.bodyText }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn"
        data-ng-click="dialogOptions.close()">
        {{ dialogOptions.closeButtonText }}</button>
    <button class="btn btn-primary"
        data-ng-click="dialogOptions.callback();">
        {{ dialogOptions.actionButtonText }}</button>

</div>
<div class="modal-header" ng-if="dialogOptions.detailsText">
    <span ng-if="dialogOptions.collapsed" ng-click="dialogOptions.uncollapse()"><i class="icon-chevron-down pull-left"></i></span>
    <span ng-if="!dialogOptions.collapsed" ng-click="dialogOptions.collapse()"><i class="icon-chevron-up pull-left"></i></span>
    <br/>
    <div ng-if="!dialogOptions.collapsed" class="container-fluid">
        <div class="well">
            <p>{{ dialogOptions.detailsText }}</p> 
        </div>
    </div>
</div>
