<h3 translate="SETTINGS_TITLE"></h3>
<br />
<div>
    <form class="form-horizontal">
        <fieldset>
            <legend></legend>

            <div class="control-group">
                <label class="control-label" for="pushCheckbox">Enable push communication:</label>
                <div class="controls">
                    <label class="checkbox" id="pushCheckbox">
                            <input bs-switch ng-model="enablePush">
                    </label>
                </div>
            </div>
        </fieldset>
    </form>
</div>
