<h3 translate="STATS_TITLE"></h3>

<br />
<div class="row-fluid">
    <div class="span6">
        <div kendo-chart k-series="pieSeries" k-series-colors='["#b4dbeb", "#8cc7e0", "#7a94c6", "#174356", "#0c242e", "#839bc0"]' k-legend="{ position: 'bottom' }" k-tooltip="{ visible: true, format: '{0}%'}" chart-auto-resize></div>
    </div>
    <div class="span5">
        <div kendo-chart k-series="columnSeries" k-series-colors='["#b4dbeb", "#8cc7e0"]' k-legend="{ position: 'bottom' }" k-tooltip="{ visible: true, format: '{0}'}" chart-auto-resize></div>
    </div>
    <div class="span1"></div>
</div>
