<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>myProducts</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="app/css/modern.css" rel="stylesheet">
    <link href="app/css/modern-responsive.css" rel="stylesheet">
    <link href="app/css/loadspinner.css" rel="stylesheet" />
    <link href="mobile/css/ionic.css" rel="stylesheet">
    <link href="mobile/css/mobile.css" rel="stylesheet" />
</head>

<body>
    <div id="loading-area" ng-if="!ttAppLoaded">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-controller="NavigationController" ng-cloak>
        <side-menus>
            <pane side-menu-content>
                <header class="bar bar-header bar-positive">
                    <button class="button button-icon" ng-click="navigation.openLeft()"><i class="icon ion-navicon"></i></button>
                    <h1 class="title">myProducts</h1>
                </header>

                <content has-header="true" has-tabs="true" overflow-scroll="true">
                    <ng-view class="padding">
                    </ng-view>
                </content>
            </pane>
            <div class="bar bar-footer bar-stable">
                <div class="title">
                    <img src="mobile/images/thinktecture_logo.png" />
                </div>
            </div>
            <side-menu side="left">
                <header class="bar bar-header bar-dark">
                    <h1 class="title">Menu</h1>
                </header>
                <content has-header="true">
                    <ul class="list">
                        <a ng-show="ni.DisplayText" ng-href="#{{ ni.Url }}" ng-click="navigation.openLeft()" class="item" ng-repeat="ni in navigation.navigationItems" translate>
                            {{ ni.DisplayText }}
                        </a>
                    </ul>

                    <ul class="list">
                        <a class="item" ng-click="navigation.openLeft(); navigation.changeLanguage('de');">
                            <img src="app/images/lang_de_t.png">
                            <span translate="COMMON_DE"></span>
                        </a>
                        <a class="item" ng-click="navigation.openLeft(); navigation.changeLanguage('en')">
                            <img src="app/images/lang_en_t.png">
                            <span translate="COMMON_EN"></span>
                        </a>
                    </ul>
                    <ul class="list">
                        <a href="#/settings" ng-click="navigation.openLeft()" class="item" translate="INDEX_SETTINGS">
                        </a>
                    </ul>

                    <ul class="list">
                        <a ng-controller="StatusController" ng-click="status.logout();navigation.openLeft()" class="item item-calm">
                            {{ status.userName }}
                        </a>
                    </ul>
                </content>
            </side-menu>
        </side-menus>
    </div>

    <script>
        ttMobile = true;
    </script>

    <script src="app/js/lib/jquery-2.0.1.js"></script>
    <script src="app/js/lib/script.js"></script>
    <script src="app/js/lib/angular.js"></script>
    <script src="app/js/lib/angular-cookies.js"></script>
    <script src="app/js/lib/angular-route.js"></script>
    <script src="app/js/lib/angular-animate.js"></script>
    <script src="app/js/lib/angular-touch.js"></script>
    <script src="app/js/lib/angular-sanitize.js"></script>
    <script src="app/js/lib/ionic.js"></script>
    <script src="app/js/lib/ionic-angular.js"></script>

    <script src="app/js/lib/jquery.signalR-2.0.0.js"></script>
    <script src="app/js/lib/toastr.js"></script>
    <script src="app/js/lib/ngStorage.js"></script>
    <script src="app/js/lib/angular-cache.js"></script>
    <script src="app/js/lib/angular-translate-.js"></script>
    <script src="app/js/lib/angular-translate-loader-static-files.js"></script>
    <script src="app/js/lib/angular-translate-loader-url.js"></script>
    <script src="app/js/lib/angular-translate-storage-cookie.js"></script>
    <script src="app/js/lib/angular-translate-storage-local.js"></script>
    <script src="app/js/lib/angular-mobile.js"></script>
    <script src="app/js/lib/d3.v3.js"></script>
    <script src="app/js/lib/nv.d3.js"></script>
    <script src="app/js/lib/angularjs-nvd3-directives.js"></script>
    <script src="app/js/lib/log4javascript.js"></script>
    <script src="app/js/lib/loading-bar.js"></script>
    <script src="app/js/lib/ui-bootstrap-tpls-0.6.0.js"></script>

    <script src="app/js/infrastructure/thinktecture.ng.Authentication.js"></script>
    <script src="app/js/infrastructure/thinktecture.ng.SignalR.js"></script>
    <script src="app/js/infrastructure/tools.js"></script>
    <script src="app/js/constants.js"></script>
    <script src="app/translations/translations-de.js"></script>
    <script src="app/js/app.js"></script>

    <script src="app/js/controllers/navigationController.js"></script>
    <script src="app/js/controllers/loginController.js"></script>

    <script src="app/js/services/routeResolverService.js"></script>
    <script src="app/js/services/toastService.js"></script>
    <script src="app/js/services/personalizationService.js"></script>
    <script src="app/js/services/categoriesService.js"></script>
    <script src="app/js/services/articlesApiService.js"></script>
    <script src="app/js/services/dialogService.js"></script>

    <script src="cordova.js"></script>
    <script src="app/js/lib/phonegap-ready.js"></script>
    <script src="app/js/lib/phonegap-geolocation.js"></script>
    <script src="mobile/mobile.js"></script>

    <script>
        $(function () {
            mobileApp.initialize();
        });
    </script>

    <script src="app/js/main.js"></script>
</body>
</html>
