<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>myProducts</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    
    <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png" />
    <link href="../assets/images/apple-touch-startup-image-1024x748.png"
          media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">
    <link href="../assets/images/apple-touch-startup-image-2048x1496.png"
          media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />

    @System.Web.Optimization.Styles.Render("~/mobile/mobile/css")

    <style>
        [ng-cloak].splash {
            display: block !important;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body>
    <div id="loading-area" ng-if="!ttAppLoaded">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-controller="navigationController" ng-cloak>
        <ion-side-menus>
            <ion-pane ion-side-menu-content>
                <header class="bar bar-header bar-dark">
                    <button class="button button-icon" ng-click="navigation.toggleMenu()"><i class="icon ion-navicon"></i></button>
                    <h1 class="title">myProducts</h1>
                    <a href="#/start" class="button button-icon"><i class="icon ion-home"></i></a>
                </header>

                <ion-content has-header="true" has-tabs="true" overflow-scroll="true">
                    <ion-nav-view class="padding">
                    </ion-nav-view>
                </ion-content>
            </ion-pane>
            <div class="bar bar-footer bar-stable">
                <div class="title">
                    <img src="assets/images/thinktecture_logo.png" />
                </div>
            </div>
            <ion-side-menu side="left">
                <header class="bar bar-header bar-positive">
                    <a ng-if="tt.authentication.userLoggedIn" ng-click="navigation.toggleMenu();navigation.logout()" class="button button-icon"><i class="icon ion-log-out"></i></a>
                    <h1 class="title">Menu</h1>
                </header>
                <ion-content has-header="true">
                    <ul ng-if="navigation.navigationItems" class="list">
                        <a ng-if="ni.DisplayText" ng-repeat="ni in navigation.navigationItems" ng-href="#{{ ni.Url }}" ng-click="navigation.toggleMenu()" class="item" translate>
                            {{ ni.DisplayText }}
                        </a>
                    </ul>

                    <ul class="list">
                        <a class="item" ng-click="navigation.toggleMenu(); navigation.changeLanguage('de')">
                            <img src="../assets/images/lang_de_t.png">
                            <span translate="COMMON_DE"></span>
                        </a>
                        <a class="item" ng-click="navigation.toggleMenu(); navigation.changeLanguage('en')">
                            <img src="../assets/images/lang_en_t.png">
                            <span translate="COMMON_EN"></span>
                        </a>
                    </ul>
                    <ul class="list">
                        <a href="#/settings" ng-click="navigation.toggleMenu()" class="item" translate="INDEX_SETTINGS">
                        </a>
                    </ul>

                    <br /><br /><br />
                </ion-content>
            </ion-side-menu>
        </ion-side-menus>
    </div>

    <script>
        var ttMobile = true;
    </script>

    @System.Web.Optimization.Scripts.Render("~/libs/js")
    @System.Web.Optimization.Scripts.Render("~/app/js")
    <script src="../cordova.js"></script>
    @System.Web.Optimization.Scripts.Render("~/mobile/js")

    <script>
        $(function () {
            mobileApp.initialize();
        });
    </script>
</body>
</html>
