<div class="list">
    <a class="button button-clear button-dark" href="#/articles">
        <i class="icon ion-chevron-left"></i> <span translate="COMMON_CANCEL"> </span>
    </a>
    <br /><br />
    <label class="item item-input item-stacked-label">
        <span class="input-label" translate="DETAILS_NAME"></span>
        <input type="text" placeholder="Name" ng-model="articledetails.article.Name">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label" translate="DETAILS_CODE"></span>
        <input type="text" placeholder="Code" ng-model="articledetails.article.Code">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label" translate="DETAILS_DESCRIPTION"></span>
        <input type="text" placeholder="..." ng-model="articledetails.article.Description">
    </label>
    <br />
    <img ng-if="articledetails.editMode" alt="Product image" src="assets/images/default.png" ng-src="{{ articledetails.article.ImageUrl | baseUrl }}" />
</div>
