[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.rn-carousel-container {
    margin: 0 auto;
}

.carouselImages {
    width: 400px;
}

.carouselImage {
    text-align: center;
}
