<div class="content padding">
    <h3 translate="LOGIN_TITLE"></h3>
    <br/>
    <div class="list">
        <label class="item item-input">
            <span class="input-label" translate="LOGIN_USERNAME"></span>
            <input type="text" ng-model="login.username">
        </label>
        <label class="item item-input">
            <span class="input-label" translate="LOGIN_PASSWORD"></span>
            <input type="password" ng-model="login.password">
        </label>
        <br />
        <button class="button button-block button-positive" ng-click="login.submit()" translate="LOGIN_BUTTON_LOGIN"></button>
    </div>
</div>