
<div class="navbar navbar-default navbar-fixed-top" style="position:fixed" bs-navbar ng-cloak>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navigation.isCollapsed=!navigation.isCollapsed">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
                <img src="../assets/images/logo.png" width="74px" height="17px" /><br />
                <span style="font-size: 0.75em"><a href="#/" data-match-route="/#">myProducts</a></span>
            </span>
        </div>
        <div class="navbar-collapse" collapse="navigation.isCollapsed">
            <ul class="nav navbar-nav" translate-cloak>
                <li ng-repeat="ni in navigation.navigationItems track by $index" data-match-route='{{ ni.MatchPattern }}'>
                    <a ng-show="ni.DisplayText" ng-click="navigation.isCollapsed=true" ng-href="#{{ ni.Url }}" translate>{{ ni.DisplayText }}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li data-match-route="/settings"><a ng-click="navigation.isCollapsed=true" href="#/settings" translate="INDEX_SETTINGS"></a></li>

                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle>
                        <i class="glyphicon glyphicon-align-justify"></i>&nbsp;
                        <span translate="COMMON_LANG"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="navigation.isCollapsed=true; navigation.changeLanguage('de');">
                                <img src="../assets/images/lang_de_t.png" width="36px" height="26px">
                                <span translate="COMMON_DE"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="navigation.isCollapsed=true; navigation.changeLanguage('en')">
                                <img src="../assets/images/lang_en_t.png" width="36px" height="26px">
                                <span translate="COMMON_EN"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>