<h3>{{ 'OVERVIEW_TITLE' | translate }}</h3>

<div>
    {{ 'OVERVIEW_FILTER' | translate }}:
    <input kendo-auto-complete
        k-data-source="articles"
        k-filter="'contains'"
        k-min-length="3"
        k-data-text-field="'Code'"
        k-on-change="valueOnChange = kendoEvent.sender.value()"
        ng-model="filteredArticle" />
    <br />
    <hr />
    <div kendo-grid
        k-data-source="articles"
        reset-source-when="!filteredArticle"
        k-columns='[{ "field": "Name", "title": "Name"}, 
                        { "field": "Code",  "title": "Code"}]'
        k-pageable='{ "refresh": true, "pageSizes": false }'
        k-scrollable='{ "virtual": true }'
        k-data-selectable="row"
        k-on-change="rowSelected(kendoEvent.sender.dataItem(kendoEvent.sender.select()[0]))">
    </div>
</div>
