<h3 translate="DETAILS_TITLE"></h3>
<form name="form" novalidate class="form-horizontal">
    <div class="form-group" ng-class="{ error: form.name.$invalid }">
        <label class="control-label col-md-1" for="name" translate="DETAILS_NAME" style="font-weight:normal"></label>
        <div class="col-md-4">
            <input type="text" required ng-model="articledetails.article.Name" name="name" server-validate="data.Name" class="form-control">
        </div>
        <span class="col-md-3 help-block alert alert-danger" ng-repeat="errorMessage in form.name.$error.server" style="padding:10px;margin:0">{{ errorMessage }}</span>
    </div>
    <div class="form-group" ng-class="{ error: form.code.$invalid }">
        <label class="control-label col-md-1" for=" code" translate="DETAILS_CODE" style="font-weight:normal"></label>
        <div class="col-md-4">
            <input type="text" required ng-model="articledetails.article.Code" name="code" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-1" for="cats" translate="DETAILS_CATEGORIES" style="font-weight:normal"></label>
        <div class="col-md-2">
            <select name="categories" ng-model="articledetails.article.Category" ng-options="c as c.Name for c in articledetails.categories track by c.Id" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <textarea type="text" class="form-control" rows="4" ng-model="articledetails.article.Description"></textarea>
        </div>
        <div class="col-md-6">
            <img ng-if="articledetails.editMode" alt="Product image" class="img-responsive" src="../assets/images/default.png" ng-src="{{ articledetails.article.ImageUrl | baseUrl }}" />
        </div>
        <span ng-if="!articledetails.editMode">
            <img ng-if="articledetails.image" ng-src="{{ articledetails.image.resized.dataURL }}" type="{{ articledetails.image.file.type }}" />
            <br />
            <br />
            <input type="file" accept="image/*" image="articledetails.image" resize-max-width="400" resize-quality="0.9" button-text="{{ 'DETAILS_SELECTIMAGE' | translate }}" />
        </span>
    </div>
    <div class="form-actions">
        <button ng-click="articledetails.save()" class="btn btn-primary" translate="COMMON_SAVE"></button>
        <a href="#/articles" class="btn btn-default" translate="COMMON_CANCEL"></a>
    </div>
</form>
<br />
<br />
