<!DOCTYPE html>
<html>
<head>
    <title>myProducts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="apple-touch-icon" href="content/images/apple-touch-icon.png" />
    <link href="app/content/images/apple-touch-startup-image-1024x748.png"
          media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">
    <link href="app/content/images/apple-touch-startup-image-2048x1496.png"
          media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <style>
        [ng-cloak].splash {
            display: block !important;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    @System.Web.Optimization.Styles.Render("~/app/css/common")
    @System.Web.Optimization.Styles.Render("~/app/css/app")
</head>

<body>
    <body>
        <div id="loading-area" ng-if="!ttAppLoaded">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div id="mainContainer" ng-controller="NavigationController" ng-cloak>
            <div class="navbar navbar-default navbar-fixed-top" style="position:fixed" bs-navbar>
                <div class="inner">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <span class="navbar-brand">
                                <img src="app/content/images/logo.png" /><br />
                                <a href="#" data-match-route="/" class="brand">myProducts</a>
                            </span>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li ng-repeat="ni in navigation.navigationItems track by $index" data-match-route='{{ ni.MatchPattern }}'>
                                    <a ng-show="ni.DisplayText" ng-click="navigation.isCollapsed=true" ng-href="#{{ ni.Url }}" translate>{{ ni.DisplayText }}</a>
                                </li>
                                <li data-match-route="/info"><a ng-click="navigation.isCollapsed=true" href="#/info">Info</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li data-match-route="/settings"><a ng-click="navigation.isCollapsed=true" href="#/settings" translate="INDEX_SETTINGS"></a></li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle"><i class="glyphicon glyphicon-align-justify"></i>&nbsp;<span translate="COMMON_LANG"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a ng-click="navigation.isCollapsed=true; navigation.changeLanguage('de');">
                                                <img src="app/content/images/lang_de_t.png">
                                                <span translate="COMMON_DE"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="navigation.isCollapsed=true; navigation.changeLanguage('en')">
                                                <img src="app/content/images/lang_en_t.png">
                                                <span translate="COMMON_EN"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="position: relative">
                <div ui-view autoscroll="false" class="slide-animation" style="width: 97%"></div>
                <br />
            </div>

            <footer id="footer">
                <div class="container-fluid" ng-controller="StatusController">
                    <img ng-if="status.isOnline" src="app/content/images/online.png" />
                    <img ng-if="!status.isOnline" src="app/content/images/offline.png" />

                    <span>
                        <span ng-if="!tt.authentication.userLoggedIn" data-match-route="/login">
                            <a href="#/login" translate="INDEX_LOGIN"></a>
                        </span>
                        <span ng-if="tt.authentication.userLoggedIn">
                            <a href="" ng-click="navigation.logout()" translate="INDEX_LOGOUT"></a>
                        </span>
                    </span>

                    <a href="http://www.thinktecture.com" target="_blank" class="cloud-link">
                        <span class="glyphicon glyphicon-cloud">&nbsp;</span>thinktecture
                    </a>
                </div>
            </footer>

        </div>
        <script>
            ttMobile = false;
        </script>

        @System.Web.Optimization.Scripts.Render("~/app/js-lib")

        <script>
            $(function () {
                FastClick.attach(document.body);
            });
        </script>

        <script src="app/main.js"></script>
    </body>
</html>
