<!DOCTYPE html>
<html>
<head>
    <title>myProducts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="apple-touch-icon" href="app/images/apple-touch-icon.png" />
    <link href="app/images/apple-touch-startup-image-1024x748.png"
        media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image">
    <link href="app/images/apple-touch-startup-image-2048x1496.png"
        media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
    @System.Web.Optimization.Styles.Render("~/app/css/common")
    @System.Web.Optimization.Styles.Render("~/app/css/app")
</head>
<body class="ng-cloak">
    <div class="navbar navbar-fixed-top" bs-navbar>
        <div class="navbar-inner">
            <div class="container-fluid" ng-controller="NavigationController">
                <button type="button" class="btn btn-navbar" ng-click="navigation.isCollapsed=!navigation.isCollapsed">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <span class="brand">
                    <img src="app/images/logo.png" /><br />
                    <a href="#" data-match-route="/" class="brand" translate="INDEX_TITLE"></a>
                </span>

                <div class="nav-collapse" collapse="navigation.isCollapsed">
                    <ul class="nav nav-pills">
                        <li ng-repeat="ni in navigation.navigationItems" data-match-route='{{ ni.MatchPattern }}'>
                            <a ng-show="ni.DisplayText" ng-click="navigation.isCollapsed=true" ng-href="#{{ ni.Url }}" translate>{{ ni.DisplayText }}</a>
                        </li>
                        <li data-match-route="/info"><a ng-click="navigation.isCollapsed=true" href="#/info">Info</a></li>
                    </ul>

                    <ul class="nav nav-pills pull-right">
                        <li data-match-route="/settings"><a ng-click="navigation.isCollapsed=true" href="#/settings" translate="INDEX_SETTINGS"></a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"><i class="icon-align-justify"></i>&nbsp;<span translate="COMMON_LANG"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" ng-click="navigation.isCollapsed=true; navigation.changeLanguage('de');">
                                        <img src="app/images/lang_de_t.png">
                                        <span translate="COMMON_DE"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="navigation.isCollapsed=true; navigation.changeLanguage('en')">
                                        <img src="app/images/lang_en_t.png">
                                        <span translate="COMMON_EN"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div ng-view id="ng-view"></div>
        <div id="spinner" style="position: fixed; top: 50%; left: 50%"></div>
        <br />
        <br />
    </div>

    <footer id="footer">
        <div class="container-fluid" ng-controller="StatusController">
            <img ng-if="status.isOnline" src="app/images/online.png" />
            <img ng-if="!status.isOnline" src="app/images/offline.png" />

            <span>&nbsp;
                    <span ng-if="tt.authentication.userLoggedIn">
                        <a href="" ng-click="status.logout();">
                            <i class="icon-user"></i>
                            <strong>{{ status.userName }}</strong>
                        </a>
                    </span>
                <span ng-if="!tt.authentication.userLoggedIn" data-match-route="/login">
                    <a href="#/login" translate="INDEX_LOGIN"></a>
                </span>
            </span>

            <a href="http://www.thinktecture.com" target="_blank" class="cloud-link">
                <span class="icon-cloud">&nbsp;</span>thinktecture
            </a>
        </div>
    </footer>

    @System.Web.Optimization.Scripts.Render("~/app/js-lib")

        <script src="main.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>
</body>
</html>
