.platform-ios8.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){height:64px}.platform-ios8.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper{margin-top:19px!important}.platform-ios8.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>*{margin-top:20px}.platform-ios8.platform-cordova:not(.fullscreen) .bar-subheader,.platform-ios8.platform-cordova:not(.fullscreen) .has-header,.platform-ios8.platform-cordova:not(.fullscreen) .tabs-top>.tabs,.platform-ios8.platform-cordova:not(.fullscreen) .tabs.tabs-top{top:64px}.platform-ios8.platform-cordova:not(.fullscreen) .has-subheader{top:108px}.platform-ios8.platform-cordova:not(.fullscreen) .has-tabs-top{top:113px}.platform-ios8.platform-cordova:not(.fullscreen) .has-header.has-subheader.has-tabs-top{top:157px}.platform-ios8.platform-cordova.status-bar-hide{margin-bottom:20px}@media (orientation:landscape){.platform-ios8.platform-browser.platform-ipad{position:fixed}}.platform-c:not(.enable-transitions) *{-webkit-transition:none!important;transition:none!important}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clear-search {
    font-size: 18px;
}

.my-padding {
    padding-top: 30px;
    padding-left: 10px;
}

.paddedSearchBox {
    padding-bottom: 25px;
}

.bar.bar-positive {
    background-color: #929FB4;
    border-color: #C5C6C9;
}

.item.item-calm {
    color: white;
    background-color: #999999;
    border-color: #414141;
}

.button.button-positive {
    background-color: #929FB4;
    border-color: #C5C6C9;
}

    .button.button-positive.active, .button.button-positive:active {
        background-color: #999999;
        border-color: #C5C6C9;
    }

#loading-bar .bar {
    height: 1px;
    border: none;
    padding: 3px;
}

#loading-bar .peg {
    -webkit-transform: rotate(3deg) translate(0px, -8px);
    -moz-transform: rotate(3deg) translate(0px, -8px);
    -ms-transform: rotate(3deg) translate(0px, -8px);
    -o-transform: rotate(3deg) translate(0px, -8px);
    transform: rotate(3deg) translate(0px, -8px);
}

.slider {
    background-color: white;
}

.slider-slide {
    background-color: white;
}

.slider-pager {
    bottom: auto;
    top: 15px;
}

.gallerySlide {
    text-align: center;
    padding-top: 50px;
    width: 200px;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mobileStats {
    width: 300px;
    margin: 0 auto;
}
