[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.bar.bar-positive {
    background-color: #8B887E;
    border-color: #776854;
    background-image: none;
}

.item.item-calm {
    color: white;
    background-color: #999999;
    border-color: #414141;
}

.button.button-positive {
    background-color: #929FB4;
    border-color: #C5C6C9;
}

    .button.button-positive.active, .button.button-positive:active {
        background-color: #999999;
        border-color: #C5C6C9;
    }

#loading-bar .bar {
    background: #d08959;
    height: 3px;
    border: none;
}

/*#loading-bar .peg {
    box-shadow: 0 0 10px #2c3e50, 0 0 5px #2c3e50;
}*/

.slider {
    background-color: white;
}

.slider-slide {
    background-color: white;
    text-align: center;
}

.slider-pager {
    bottom: auto;
    top: 15px;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
