<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
    <Identity Name="com.thinktecture.myproducts" Publisher="CN=$username$" Version="0.0.1.0" />
    <Properties>
        <DisplayName>myProductsWin8</DisplayName>
        <PublisherDisplayName>Apache Cordova Team</PublisherDisplayName>
        <Logo>images\storelogo.png</Logo>
    </Properties>
    <Prerequisites>
        <OSMinVersion>6.2.1</OSMinVersion>
        <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
    </Prerequisites>
    <Resources>
        <Resource Language="x-generate" />
    </Resources>
    <Applications>
        <Application Id="com.thinktecture.myproducts" StartPage="www/index.html">
            <VisualElements BackgroundColor="#464646" Description="CordovaApp" DisplayName="myProductsWin8" ForegroundText="light" Logo="images\logo.png" SmallLogo="images\smalllogo.png">
                <DefaultTile ShowName="allLogos" />
                <SplashScreen Image="images\splashscreen.png" />
            </VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
</Package>