<h3 translate="OVERVIEW_TITLE"></h3>

<div>
    <form id="searchTextForm" class="form-inline">
        <div class="row-fluid">
            <label for="searchtext" translate="OVERVIEW_FILTER"></label>
            <input type="text" id="searchtext" ng-model="articles.selectedFilteredArticle" typeahead="article.Name for article in articles.getFilteredData($viewValue)">
            <i class="btn btn-success icon-refresh" ng-click="articles.getPagedData(true)"></i>
            <i ng-if="capabilities.has('AddArticle')" class="btn btn-primary icon-plus pull-right" ng-click="articles.addArticle()"></i>
        </div>
    </form>
    <hr />

    <table ng-show="articles.articlesData" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th style="width: 90px"></th>
            </tr>
        </thead>
        <tr ng-repeat="a in articles.articlesData">
            <td>{{ a.Name }}</td>
            <td>{{ a.Code }}</td>
            <td style="width: 90px">
                <i class="btn icon-edit" ng-click="articles.getArticleDetails(a.Id)"></i>&nbsp;
                <i class="btn icon-trash" ng-click="articles.deleteArticle(a.Id)"></i>
            </td>
        </tr>
    </table>
    
    <pagination ng-show="articles.articlesData" boundary-links="true" total-items="articles.totalServerItems" max-size="10" items-per-page="articles.pagingOptions.pageSize" page="articles.pagingOptions.currentPage" class="pagination-centered" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
