<div class="container">
    <div class="login-container">
        <div class="avatar"></div>
        <div class="form-box">
            <form name="form" novalidate>
                <oauth site="https://localhost/ngmd/idsrv"
                       authorize-path="/connect/authorize"
                       client-id="myp-implicitclient"
                       redirect-uri="https://localhost/ngmd/client/"
                       scope="default">
                </oauth>
            <!--
            <input name="user" type="text" placeholder="{{ 'LOGIN_USERNAME' | translate }}" translate-cloak required ng-model="login.username">
            <input type="password" placeholder="{{ 'LOGIN_PASSWORD' | translate }}" translate-cloak required ng-model="login.password">
            <button class="btn btn-success btn-block login" ng-click="login.submit()" ng-disabled="form.$invalid" translate="LOGIN_BUTTON_LOGIN"></button>
            -->
            </form>
        </div>
    </div>
</div>
