<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Article name">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Code</span>
        <input type="text" placeholder="Article code">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description of the article">
    </label>
</div>