<content class="padding" on-refresh="articles.getPagedData(true)">
    <refresher></refresher>

    <slide-box padded on-slide-changed="alert(index)">
        <slide>
            <br />
            <h3>Articles</h3>
            <div class="list">
                <a class="item" ng-click="articles.getArticleDetails(a.Id)" ng-repeat="a in articles.articlesData">
                    <h2>{{ a.Name }}</h2>
                    <p>{{ a.Code }}</p>
                </a>
            </div>
        </slide>
        <slide></slide>
    </slide-box>
</content>