<div class="content padding">
    <h3>User login</h3>

    <div class="list">
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="login.username">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="login.password">
        </label>
        <br />
        <button class="button button-block button-positive" ng-click="login.submit()">
            Login
        </button>
    </div>
</div>