<div class="content padding">
    <h3 translate="SETTINGS_TITLE"></h3>

    <ul class="list">
        <li class="item item-toggle">
            <span translate="SETTINGS_PUSH"></span>
            <label class="toggle">
                <input type="checkbox" ng-model="settings.enablePush">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>

        <li class="item item-toggle">
            <span translate="SETTINGS_SENDPOS"></span>
            <label class="toggle">
                <input type="checkbox" ng-model="settings.sendPosition">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
    </ul>
</div>