<div class="content padding">
    <h3>Statistics</h3>
    <br />
    <nvd3-pie-chart data="statistics.pieSeries"
                    id="pieChart1"
                    margin="{left:3,top:0,bottom:0,right:0}"
                    x="statistics.pieX()"
                    y="statistics.pieY()"
                    showlabels="true"
                    showvalues="true"
                    labeltype="percent"
                    showlegend="true"
                    donut="true"
                    donutratio=".25"
                    donutlabelsoutside="false"
                    height="350" width="300">
        <svg height="350" width="300"></svg>
    </nvd3-pie-chart>

    <nvd3-multi-bar-chart data="statistics.columnSeries"
                          id="barChart1"
                          margin="{left:60,top:10,bottom:20,right:10}"
                          height="350" width="350">
        <svg height="350" width="350"></svg>
    </nvd3-multi-bar-chart>
</div>