<ion-content infinite-scroll-distance="20%" on-infinite-scroll="articles.getMoreData()">

    <h3 class="padding-horizontal padding30" translate="OVERVIEW_TITLE"></h3>

    <ion-list>
        <ion-item ng-repeat="article in articles.articlesData track by $index"
                  item="article"
                  ng-click="articles.getArticleDetails(a.Id)">
            <h2>{{ article.Name }}</h2>
            <p>{{ article.Code }}</p>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll></ion-infinite-scroll>
</ion-content>
