[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/* Override Bootstrap Responsive CSS fixed navbar */
@media (max-width: 979px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position: fixed;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    body {
        padding-left: 0px !important;
    }
}

#mainContent {
    padding-right: 25px;
}

.three {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: move;
    overflow: hidden;
}

.btn {
    border-radius: 0;
}

.add-btn-primary {
    background-color: rgba(50, 118, 177, 0.75);
    border-color: rgba(92, 184, 92, 0);
    font-size: 0.6em;
}

.list-btn-success {
    background-color: rgba(92, 184, 92, 0.75);
    border-color: rgba(92, 184, 92, 0);
    font-size: 0.6em;
}

.list-btn-danger {
    background-color: rgba(217, 83, 79, 0.75);
    border-color: rgba(217, 83, 79, 0);
    font-size: 0.6em;
}

.circle-red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(210, 50, 45, 0.7);
    margin-top: auto;
}

.circle-green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(71, 164, 71, 0.7);
    margin-top: auto;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background-color: #F0F0F0;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h1,
h2,
h3 {
    line-height: 40px;
    font-weight: bold;
}

.svg {
    height: auto;
}

.reveal-animation {
    position: absolute;
    width: 97%;
}

.slider {
    background-color: white;
}

.slider-slide {
    background-color: white;
}

.slider-pager {
    bottom: auto;
    top: 15px;
}

/*.nav-collapse {
    background: rgb(235, 235, 235);
    z-index: 1000;
}*/

#loading-bar .bar {
    height: 4px;
    border: none;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ngFooterPanel {
    background-color: rgba(180, 207, 213, 0.46);
}

.form-horizontal input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.form-horizontal input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar .container-fluid {
    height: 5em;
}

a {
    outline: none;
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    padding: 2em 15px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    line-height: 14px;
}

.nav-pills > li > a {
    border-radius: 0px;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: lightblue;
    color: #000 !important;
    background-color: transparent !important;
    outline: none;
}

.navbar-nav > li > a {
    border-radius: 0px;
}

.language-icon {
    cursor: pointer;
}

.rn-carousel-container {
    margin: 0 auto;
}

.carouselImages {
    width: 290px;
    height: 250px;
    text-align: center;
}

.carouselImage {
    margin-left: auto;
    margin-right: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #404040;
    padding: 1em;
    z-index: 3;
}

    #footer a {
        color: #7095C5;
        text-decoration: none;
    }

    #footer .cloud-link {
        color: #7095C5;
        float: right;
    }

.dialog-underline {
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: red;
    color: #000 !important;
    background-color: transparent !important;
}

#loading-area {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 100px;
    height: 100px;
}

.spinner {
    margin: 50px auto 0;
    width: 70px;
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #000;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -.32s;
        animation-delay: -.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -.16s;
        animation-delay: -.16s;
    }

@-webkit-keyframes bouncedelay {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.slide-animation {
    width: 100%;
    position: absolute;
}

    .slide-animation.ng-enter {
        animation: fadeInRight 0.8s;
        -webkit-animation: fadeInRight 0.8s;
        -moz-animation: fadeInRight 0.8s;
        -ms-animation: fadeInRight 0.8s;
    }

    .slide-animation.ng-leave {
        animation: fadeOutLeft 0.8s;
        -webkit-animation: fadeOutLeft 0.8s;
        -moz-animation: fadeOutLeft 0.8s;
        -ms-animation: fadeOutLeft 0.8s;
    }

.navbar-collapse.collapsing {
    background-color: rgb(235, 235, 235);
    z-index: 1000;
}

.navbar-collapse.in {
    background-color: rgb(235, 235, 235);
    z-index: 1000;
}

.navbar-brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 10px;
    padding-bottom: 0;
}

.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

/* login */
.login-container {
    position: relative;
    width: 240px;
    margin: 40px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

    .login-container::before, .login-container::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 3.5px;
        left: 0;
        background: #fff;
        z-index: -1;
        -webkit-transform: rotateZ(4deg);
        -moz-transform: rotateZ(4deg);
        -ms-transform: rotateZ(4deg);
        border: 1px solid #ccc;
    }

    .login-container::after {
        top: 5px;
        z-index: -2;
        -webkit-transform: rotateZ(-2deg);
        -moz-transform: rotateZ(-2deg);
        -ms-transform: rotateZ(-2deg);
    }

.avatar {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
    background-image: url(" ../assets/images/login_icon.png");
}

.form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

    .form-box input:focus {
        outline: 0;
        background: #eee;
    }

    .form-box input[type="text"] {
        border-radius: 5px 5px 0 0;
    }

    .form-box input[type="password"] {
        border-radius: 0 0 5px 5px;
        border-top: 0;
    }

.form-box button.login {
    margin-top: 15px;
    padding: 10px 20px;
}

/* end login */

.green-circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #079319;
}

.red-circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #e80000;
}
