<h3 translate="OVERVIEW_TITLE"></h3>

<div>
    <form id="searchTextForm" class="form-inline">
        <div class="form-group">
            <label for="searchtext" translate="OVERVIEW_FILTER" style="font-weight:normal"></label>
            <input type="text" id="searchtext" class="form-control input-sm" ng-model="articles.selectedFilteredArticle" typeahead="article.Name for article in articles.getFilteredData($viewValue)">
            <!--<i class="btn btn-success glyphicon glyphicon-refresh" ng-click="articles.getPagedData(true)"></i>-->
        </div>
    </form>
    <br/>
    <div ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">
        <table ng-if="articles.articlesData" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class ="hidden-xs">Code</th>
                    <th style="width: 100px">
                        <i ng-if="capabilities.has('AddArticle')" class="btn btn-primary glyphicon glyphicon-plus" style="font-size: 0.75em;" ng-click="articles.addArticle()"></i>
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="a in articles.articlesData track by $index">
                <td ng-click="articles.getArticleDetails(a.Id)">{{ a.Name }}</td>
                <td class="hidden-xs" ng-click="articles.getArticleDetails(a.Id)">{{ a.Code }}</td>
                <td style="width: 90px">
                    <i class="btn btn-success glyphicon glyphicon-edit" style="font-size: 0.6em;" ng-click="articles.getArticleDetails(a.Id)"></i>
                    <i class="btn btn-danger glyphicon glyphicon-trash" style="font-size: 0.6em;" ng-click="articles.deleteArticle(a.Id)"></i>
                </td>
            </tr>
        </table>
    </div>
    <div class="text-center">
        <pagination ng-if="articles.articlesData" ng-model="articles.pagingOptions.currentPage" boundary-links="true" total-items="articles.totalServerItems" max-size="3" rotate="false" items-per-page="articles.pagingOptions.pageSize" page="articles.pagingOptions.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
    </div>

<br />
<br />
