<h3 translate="OVERVIEW_TITLE"></h3>

<div style="width: 98%">
    <form id="searchTextForm" class="form-inline">
        <div class="row-fluid">
            <label for="searchtext" translate="OVERVIEW_FILTER"></label>
            <input type="text" id="searchtext" ng-model="articles.selectedFilteredArticle" typeahead="article.Name for article in articles.getFilteredData($viewValue)">
            <i class="btn btn-success icon-refresh" ng-click="articles.getPagedData(true)"></i>
        </div>
    </form>
    <hr />

    <div ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">
        <table ng-if="articles.articlesData" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th style="width: 90px">
                        <i ng-if="capabilities.has('AddArticle')" class="btn btn-primary icon-plus" ng-click="articles.addArticle()"></i>
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="a in articles.articlesData track by $index">
                <td ng-click="articles.getArticleDetails(a.Id)">{{ a.Name }}</td>
                <td ng-click="articles.getArticleDetails(a.Id)">{{ a.Code }}</td>
                <td style="width: 90px">
                    <i class="btn btn-success icon-edit" ng-click="articles.getArticleDetails(a.Id)"></i>
                    <i class="btn btn-danger icon-trash" ng-click="articles.deleteArticle(a.Id)"></i>
                </td>
            </tr>
        </table>
    </div>
    <pagination ng-if="articles.articlesData" boundary-links="true" total-items="articles.totalServerItems" max-size="10" items-per-page="articles.pagingOptions.pageSize" page="articles.pagingOptions.currentPage" class="pagination-centered" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>

<br />
<br />
