[ng-cloak].splash {
    display: block !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    overflow: scroll;
    background-color: #F0F0F0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.reveal-animation {
    position: absolute;
    width: 97%;  
}

.slider {
    background-color: white;
}

.slider-slide {
    background-color: white;
}

.slider-pager {
    bottom: auto;
    top: 15px;
}

.nav-collapse {
    background: rgb(235, 235, 235);
    z-index: 1000;
}

#loading-bar .bar {
    background: #d08959;
    height: 4px;
    border: none;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ngFooterPanel {
    background-color: rgba(180, 207, 213, 0.46);
}

.form-horizontal input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.form-horizontal input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 10px;
    padding-bottom: 0;
}

.navbar .container-fluid {
    height: 5em;
}

.navbar .nav > li > a {
    padding: 2em 15px 10px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #FF6600;
    color: #000 !important;
    background-color: transparent !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.nav-pills > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: lightblue;
    color: #000 !important;
    background-color: transparent !important;
}

.nav-pills > li > a {
    border-radius: 0px;
}

.language-icon {
    cursor: pointer;
}

.rn-carousel-container {
    margin: 0 auto;
}

.carouselImages {
    width: 290px;
    height: 250px;
    text-align: center;
}

.carouselImage {
    margin-left: auto;
    margin-right: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8B9EB6;
    padding: 1em;
}

    #footer a {
        color: rgb(202, 211, 216);
        text-decoration: none;
    }

    #footer .cloud-link {
        float: right;
    }

.dialog-underline {
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: red;
    color: #000 !important;
    background-color: transparent !important;
}
