<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>myProducts</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="content/images/apple-touch-icon.png" />
    <link href="content/images/apple-touch-startup-image-1024x748.png"
        media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image">
    <link href="content/images/apple-touch-startup-image-2048x1496.png"
        media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

    <link href="content/toastr.min.css" rel="stylesheet" />
    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="content/kendo/kendo.blueopal.min.css" rel="stylesheet" />
    <link href="content/font-awesome.min.css" rel="stylesheet" />
    <link href="content/angular-snap.css" rel="stylesheet" />

    <link href="content/app.css" rel="stylesheet" />
</head>
<body class="ng-cloak">
    <div class="navbar navbar-fixed-top" ng-controller="NavigationController" bs-navbar>
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">
                    <img src="content/images/logo.png" />
                    <a href="#" class="brand">{{ 'INDEX_TITLE' | translate }}</a>
                </span>

                <ul class="nav nav-pills">
                    <li data-match-route="(/|/details.*)"><a href="#/">{{ 'INDEX_ARTICLES' | translate }}</a></li>
                    <li data-match-route="/info"><a href="#/info">{{ 'INDEX_INFO' | translate }}</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="">
                            <img src="content/images/lang_de_t.png" ng-click="changeLanguage('de')" class="language-icon" />
                            <img src="content/images/lang_en_t.png" ng-click="changeLanguage('en')" class="language-icon" />
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills pull-right">  
                    <li ng-if="!tt.authentication.userLoggedIn" data-match-route="/login"><a href="#/login">{{ 'INDEX_LOGIN' | translate }}</a></li>
                    <li ng-if="tt.authentication.userLoggedIn"><a href="" ng-click="logout();">{{ 'INDEX_LOGOUT' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="spinner" style="position: fixed; top: 50%; left: 50%"></div>
        <div ng-view id="ng-view" class="animation"></div>
    </div>

    <footer id="footer">
        <div class="container">
            <a href="http://www.thinktecture.com" target="_blank" class="cloud-link">
                <span class="icon-cloud">&nbsp;</span>thinktecture
            </a>
        </div>
    </footer>

    <script src="js/lib/jquery-2.0.1.min.js"></script>
    <script src="js/lib/toastr.min.js"></script>
    <script src="js/lib/spin.min.js"></script>
    <script src="js/lib/kendo.all.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-touch.min.js"></script>
    <script src="js/lib/angular-strap.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.5.0.min.js"></script>
    <script src="js/lib/angular-kendo.min.js"></script>
    <script src="js/lib/jquery.signalR-1.1.3.min.js"></script>
    <script src="js/lib/ngSignalR.min.js"></script>
    <script src="js/lib/lawnchair-0.6.1.min.js"></script>

    <script src="js/lib/angular-cookies.min.js"></script>
    <script src="js/lib/angular-translate.js"></script>
    <script src="js/lib/angular-translate-storage-cookie.js"></script>
    <script src="js/lib/angular-translate-storage-local.js"></script>
    <script src="js/lib/angular-translate-loader-static-files.js"></script>

    <script src="translations/translations-de.js"></script>
    <script src="js/infrastructure/thinktecture.Authentication.js"></script>
    <script src="js/app.js"></script>
    <script src="js/infrastructure/tools.js"></script>
    <script src="js/infrastructure/directives.js"></script>
    <script src="js/infrastructure/filters.js"></script>

    <script src="js/services/alertService.js"></script>
    <script src="js/services/pushService.js"></script>
    <script src="js/services/dialogService.js"></script>
    <script src="js/services/articlesApiService.js"></script>
    <script src="js/controllers/articlesController.js"></script>
    <script src="js/controllers/articleDetailsController.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/navigationController.js"></script>

    <script src="js/lib/fastclick.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>
</body>
</html>
