<!DOCTYPE html>
<html>
<head>
    <title>myProducts</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="app/images/apple-touch-icon.png" />
    <link href="app/images/apple-touch-startup-image-1024x748.png"
        media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image">
    <link href="app/images/apple-touch-startup-image-2048x1496.png"
        media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

    @System.Web.Optimization.Styles.Render("~/app/css/common")
    @System.Web.Optimization.Styles.Render("~/app/css/kendo/css")
    @System.Web.Optimization.Styles.Render("~/app/css/others")
</head>
<body class="ng-cloak">
    <div class="navbar navbar-fixed-top" ng-controller="NavigationController" bs-navbar>
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">
                    <img src="app/images/logo.png" /><br />
                    <a href="#" class="brand" translate>INDEX_TITLE</a>
                </span>

                <ul class="nav nav-pills">
                    <li ng-repeat="ni in navigationItems" data-match-route='{{ ni.MatchPattern }}'>
                        <a ng-if="ni.DisplayText" ng-href="#{{ ni.Url }}" translate>{{ ni.DisplayText }}</a>
                    </li>

                    <li data-match-route="/info"><a href="#/info">Info</a></li>
                </ul>

                <ul class="nav nav-pills pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><i class="icon-align-justify"></i> <span translate>COMMON_LANG</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="" ng-click="changeLanguage('de')">
                                    <img src="app/images/lang_de_t.png">
                                    <span translate>COMMON_DE</span>
                                </a>
                            </li>
                            <li>
                                <a href="" ng-click="changeLanguage('en')">
                                    <img src="app/images/lang_en_t.png">
                                    <span translate>COMMON_EN</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="spinner" style="position: absolute; top: 50%; left: 50%"></div>
        <div ng-view id="ng-view"></div>
    </div>

    <footer id="footer">
        <div class="container" ng-controller="StatusController">
            <img ng-if="isOnline" src="app/images/online.png" />
            <img ng-if="!isOnline" src="app/images/offline.png" />

            <span>&nbsp;
                <span ng-if="tt.authentication.userLoggedIn">
                    <a href="" ng-click="logout();">
                        <i class="icon-user"></i>
                        <strong>{{ userName }}</strong>
                    </a>
                </span>
                <span ng-if="!tt.authentication.userLoggedIn" data-match-route="/login">
                    <a href="#/login" translate>
                        INDEX_LOGIN
                    </a>
                </span>
            </span>

            <a href="http://www.thinktecture.com" target="_blank" class="cloud-link">
                <span class="icon-cloud">&nbsp;</span>thinktecture
            </a>
        </div>
    </footer>

    @System.Web.Optimization.Scripts.Render("~/app/js-lib")

    <script>
        $(function () {
            FastClick.attach(document.body);
        });

        window.requireNode = window.require;
        window.require = undefined;
    </script>

    <script src="app/js/lib/require.js" data-main="main"></script>
</body>
</html>
