<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OxyPlot.Core" version="2014.1.465-alpha" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Xamarin.Forms" version="1.2.3.6249-pre2" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
</packages>